html { 
  height: 100%;
}

body { 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#000000, #434343);
}

.login-box { 
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgb(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 { 
  margin: 0 0 30px;
  padding: 0;
  color: #FFF;
  text-align: center;
}

.login-box .user-box { 
  position: relative;
}

.login-box .user-box input { 
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #FFF;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #FFF;
  outline: none;
  background: transparent;
}

.login-box .user-box label { 
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #FFF;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label, 
.login-box .user-box input:valid ~ label { 
  top: -20px;
  left: 0;
  color: #FF0043;
  font-size: 12px;
}

.login-box form a { 
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #FF0043;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover { 
  background: #FF0043;
  color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px #FF0043,
              0 0 25px #FF0043,
              0 0 50px #FF0043,
              0 0 100px #FF0043;
}

.login-box a span { 
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) { 
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #FF0043);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 { 
  0% { 
    left: -100%;
  }
  50%,100% { 
    left: 100%;
  }
}

.login-box a span:nth-child(2) { 
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #FF0043);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}

@keyframes btn-anim2 { 
  0% { 
    top: -100%;
  }
  50%, 100% { 
    top: 100%;
  }
}


.login-box a span:nth-child(3) { 
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #FF0043);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}

@keyframes btn-anim3 { 
  0% { 
    right: -100%;
  }
  50%,100% { 
    right: 100%;
  }
}

.login-box a span:nth-child(4) { 
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #FF0043);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim4 { 
  0% { 
    bottom: -100%;
  }
  50%,100% { 
    bottom: 100%;
  }
}
